DROP PROCEDURE [dbo].[CARGA_BI_COMERCIAL]
GO


CREATE PROCEDURE [dbo].[CARGA_BI_COMERCIAL]

AS
BEGIN

BEGIN TRANSACTION
TRUNCATE TABLE NIVEL10_COMERCIAL
TRUNCATE TABLE NIVEL9_COMERCIAL
TRUNCATE TABLE NIVEL8_COMERCIAL
TRUNCATE TABLE NIVEL7_COMERCIAL
TRUNCATE TABLE NIVEL6_COMERCIAL
TRUNCATE TABLE NIVEL5_COMERCIAL
TRUNCATE TABLE NIVEL4_COMERCIAL
TRUNCATE TABLE NIVEL3_COMERCIAL
TRUNCATE TABLE NIVEL2_COMERCIAL
TRUNCATE TABLE NIVEL1_COMERCIAL
TRUNCATE TABLE TAB_NIVEL10_COMERCIAL
TRUNCATE TABLE TAB_NIVEL9_COMERCIAL
TRUNCATE TABLE TAB_NIVEL8_COMERCIAL
TRUNCATE TABLE TAB_NIVEL7_COMERCIAL
TRUNCATE TABLE TAB_NIVEL6_COMERCIAL
TRUNCATE TABLE TAB_NIVEL5_COMERCIAL
TRUNCATE TABLE TAB_NIVEL4_COMERCIAL
TRUNCATE TABLE TAB_NIVEL3_COMERCIAL
TRUNCATE TABLE TAB_NIVEL2_COMERCIAL
TRUNCATE TABLE TAB_NIVEL1_COMERCIAL
COMMIT

BEGIN TRANSACTION
/* --- VENDAS COM PEDIDO */
INSERT INTO NIVEL10_COMERCIAL
SELECT   RIGHT('00000' + LTRIM(RTRIM( ITPD.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         CASE WHEN PED.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM( PED.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(PED.CIDADCLI,1,50), --CIDADE
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10), --FORNECEDOR
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
		 CONVERT(DATETIME,CONVERT(CHAR,VEN.DTVEN,103),103) ,
         '1',       
         --INCLUSAO DO IPI E ST DO ITEM
         SUM(ITPD.QUANT),--QTD_PROD
         SUM((ITPD.PRECO*ITPD.QUANT*( 1 + (PED.FRETEORC - PED.DESCONTO)/(PED.VALPED + PED.DESCONTO-PED.FRETEORC)))+ITPD.VALORIPI + COMP.VALORSUBSTRIBUTARIA),
         SUM((ITPD.PRECOUNITORIG*ITPD.QUANT*( 1 + (PED.FRETEORC - PED.DESCONTO)/(PED.VALPED + PED.DESCONTO-PED.FRETEORC)))+ITPD.VALORIPI + COMP.VALORSUBSTRIBUTARIA),       
         --============================
         SUM(ITPD.PRECOCOMP*ITPD.QUANT), --custo venda
         SUM(PROD.PRECOCOMP*ITPD.QUANT), --custo atual
         0, --VALOR DEVOLVIDO
         0, --CUSTO DEVOLUCAO
         0  --VALOR CANCELADO
         
FROM   BDENTER.DBO.VENDASSCAD VEN,
       BDENTER.DBO.PEDICLICAD PED,  
       BDENTER.DBO.ITEMCLICAD ITPD, 
       BDENTER..ITEMCLICOMPLEMENTO COMP, 
       BDENTER.DBO.PRODUTOCAD PROD
       
WHERE  VEN.NUMPED > 7 
	   AND VEN.NUMPED = PED.NUMPED  
	   AND PED.NUMPED = ITPD.NUMPED 
       AND PROD.CODPRO = ITPD.CODPRO  
       AND COMP.NUMPED = ITPD.NUMPED 
       AND COMP.RITEM = ITPD.ITEM 
       AND (PED.VALPED + PED.DESCONTO-PED.FRETEORC) > 0 
       AND PED.SITVEN='2'  
       AND ITPD.SITFAT IN ('0','1')
       -- PEGAR APENAS TPOS QUE INTEGRAM COM O FATURAMENTO
       AND PED.TPO IN (SELECT HIERARQUIANUMERO FROM BDENTER..TPO_R WHERE OID IN (SELECT RTPO FROM BDENTER..TPOINTERFERENCIA WHERE RTPOINTEGRACAO=16100 AND VALOR='S') AND HIERARQUIANUMERO LIKE'2%')
	   AND PED.TPO <>'20104'
       
GROUP BY RIGHT('00000' + LTRIM(RTRIM( ITPD.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         CASE WHEN PED.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM( PED.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(PED.CIDADCLI,1,50), 
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10), 
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,VEN.DTVEN,103),103) 
         
COMMIT

BEGIN TRANSACTION
/* -- CANCELAMENTO DE ITEM DO PEDIDO --------*/
INSERT INTO NIVEL10_COMERCIAL
SELECT   RIGHT('00000' + LTRIM(RTRIM( ITPD.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,PC.DATA,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PC.DATA,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PC.DATA,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5), 
         CASE WHEN PED.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM( PED.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(PED.CIDADCLI,1,50), --CIDADE
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10),
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,PC.DATA,103),103) ,
         '6',
         SUM(ITPD.QUANT*(-1)),--QTD_PROD
         0, --VALOR VENDA
         0, --VALOR TABELA
         0, --CUSTO VENDA
         0, --CUSTO ATUAL
         0, --VALOR DEVOLVIDO
         0, --CUSTO DEVOLUÇÃO
         SUM((ITPD.PRECO*ITPD.QUANT*( 1 + (PED.FRETEORC - PED.DESCONTO)/(PED.VALPED + PED.DESCONTO-PED.FRETEORC)))+ITPD.VALORIPI + COMP.VALORSUBSTRIBUTARIA)

FROM   BDENTER.DBO.VENDASSCAD VEN,
       BDENTER.DBO.PEDICLICAD PED,  
       BDENTER.DBO.ITEMCLICAD ITPD, 
       BDENTER..ITEMCLICOMPLEMENTO COMP,
       BDENTER.DBO.PRODUTOCAD PROD, 
       BDENTER.DBO.ITEMCANCELADO IC, 
       BDENTER.DBO.PEDIDOCANCELADO PC
       
WHERE  VEN.NUMPED > 7 
	   AND VEN.NUMPED = PED.NUMPED 
	   AND PED.NUMPED = ITPD.NUMPED  
	   AND ITPD.NUMPEDFILIAL = 0 
	   AND ITPD.PRECO > 0  
	   AND PROD.CODPRO = ITPD.CODPRO  
	   AND COMP.NUMPED = ITPD.NUMPED 
	   AND COMP.RITEM = ITPD.ITEM 
	   AND (PED.VALPED + PED.DESCONTO-PED.FRETEORC) > 0 
	   AND ITPD.SITFAT = 2 
	   AND ITPD.ITEM = IC.RITEMCLI  
	   AND IC.RIDENTIFICADOR = PC.IDENTIFICADOR
       -- PEGAR APENAS TPOS QUE INTEGRAM COM O FATURAMENTO
       AND PED.TPO IN (SELECT HIERARQUIANUMERO FROM BDENTER..TPO_R WHERE OID IN (SELECT RTPO FROM BDENTER..TPOINTERFERENCIA WHERE RTPOINTEGRACAO=16100 AND VALOR='S') AND HIERARQUIANUMERO LIKE'2%')

GROUP BY RIGHT('00000' + LTRIM(RTRIM( ITPD.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,PC.DATA,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PC.DATA,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PC.DATA,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         CASE WHEN PED.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM( PED.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(PED.CIDADCLI,1,50),
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10),
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,PC.DATA,103),103)  
COMMIT


BEGIN TRANSACTION
/* ----- VENDAS SEM PEDIDOS ---- */
INSERT INTO NIVEL10_COMERCIAL
SELECT   RIGHT('00000' + LTRIM(RTRIM( ITNF.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         NF.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( NF.CODVEND )),5),
         CASE WHEN NF.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM(NF.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(CPNF.CIDADE,1,50), 
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10), 
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,VEN.DTVEN,103),103),
         '2',
         --ADICIONANDO ST + IPI DO ITEM
         SUM(ITNF.QUANT),--QTD_PROD
         SUM((ITNF.QUANT*ITNF.PRECO* ( 1 + (NF.VALFRETE- NF.DESCONTO)/(NF.VALCONTAB + NF.DESCONTO- NF.VALFRETE)))+ITNF.VALSUBSTRI +((ITNF.QUANT*ITNF.PRECO)*(ITNF.ALIQIPI/100))),
         SUM((ITNF.QUANT*ITNF.PRECOTAB* ( 1 + (NF.VALFRETE- NF.DESCONTO)/(NF.VALCONTAB + NF.DESCONTO- NF.VALFRETE)))+ITNF.VALSUBSTRI +((ITNF.QUANT*ITNF.PRECO)*(ITNF.ALIQIPI/100))),
         --=============================
         SUM(ITNF.QUANT*ITNF.CUSTVEN), --CUSTO VENDA
         SUM(ITNF.QUANT*PROD.PRECOCOMP), --CUSTO ATUAL
         0, --VALOR DEVOLVIDO
         0, --CUSTO DEVOLUCAO
         0 --VALOR CANCELADO
         
FROM    BDENTER.DBO.VENDASSCAD VEN,
        BDENTER.DBO.NFSAIDACAD NF,   
        BDENTER.DBO.ITNFSAICAD ITNF, 
        BDENTER.DBO.PRODUTOCAD PROD, 
        BDENTER.DBO.COMPLNFFAT CPNF
        
WHERE  VEN.NUMPED <= 7 
	   AND VEN.NUMORD = NF.NORDVEN 
	   AND NF.ATUALIZ = 1  
	   AND VEN.SITUACAO = '5'
       AND NF.NUMORD = ITNF.NUMORD 
       AND NF.NUMORD = CPNF.NUMORD
       AND  ITNF.CODPRO = PROD.CODPRO 
       AND NF.DTCANCEL IS NULL 
       -- PEGAR APENAS TPOS QUE INTEGRAM COM O FATURAMENTO
       AND NF.TPO IN (SELECT HIERARQUIANUMERO FROM BDENTER..TPO_R WHERE OID IN (SELECT RTPO FROM BDENTER..TPOINTERFERENCIA WHERE RTPOINTEGRACAO=16100 AND VALOR='S') AND HIERARQUIANUMERO LIKE'2%')
       AND NF.TPO <>'20104'
       
GROUP BY RIGHT('00000' + LTRIM(RTRIM( ITNF.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         NF.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( NF.CODVEND )),5),
         CASE WHEN NF.CODROTE = '' THEN '7' ELSE RIGHT('00000' + LTRIM(RTRIM(NF.CODROTE)),5) END, --ROTEIRO
         SUBSTRING(CPNF.CIDADE,1,50), 
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10), 
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,VEN.DTVEN,103),103)
COMMIT
--=================================================================================================================================

BEGIN TRANSACTION
---- DEVOLUÇÃO DE VENDA
INSERT INTO NIVEL10_COMERCIAL
SELECT   RIGHT('00000' + LTRIM(RTRIM( ITNE.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103),4,2) + SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103) ,1,2),
         NE.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( ITNE.CODVEND )),5),
         '7', -- ROTEIRO 
         SUBSTRING(CPNF.CIDADE,1,50), 
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10),
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,NE.DTCHEG,103),103) ,
         '4',
         SUM(ITNE.QUANT*(-1)),--QTD_PROD
         0, --VALOR VENDA
         0, --VALOR TABELA
         0, --CUSTO VENDA
         0, --CUSTO ATUAL
         SUM(CONVERT(FLOAT,(((ITNE.QUANT*ITNE.PRECO)-(ITNE.VALDESC))*( 1 + (NE.VALFRETE - NE.DESCONTO)/(NE.VALCONTAB + NE.DESCONTO-NE.VALFRETE))+ITNE.VALSUBSTRI +(ITNE.VALORIPI)))),
         SUM(CONVERT(FLOAT, ITNE.QUANT * PROD.PRECOCOMP)),
         0 --VALOR CANCELADO  
          
FROM  BDENTER.DBO.NFENTRACAD NE, 
	  BDENTER.DBO.ITNFENTCAD ITNE, 
	  BDENTER.DBO.COMPLNFFAT CPNF,
      BDENTER.DBO.PRODUTOCAD PROD
      
WHERE NE.ATUALIZ = 1 
      AND  NE.NUMORD = ITNE.NUMORD 
      AND NE.NUMORD = CPNF.NUMORD
      AND  ITNE.CODPRO = PROD.CODPRO 
      AND NE.TPO LIKE('6%')
      
GROUP BY RIGHT('00000' + LTRIM(RTRIM( ITNE.CODPRO )),5),
         SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103),4,2) + SUBSTRING(CONVERT(VARCHAR,NE.DTCHEG,103) ,1,2),
         NE.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( ITNE.CODVEND )),5),
         SUBSTRING(CPNF.CIDADE,1,50), 
         RIGHT('0000000000' + LTRIM(RTRIM( PROD.CODFOR )),10),
         SUBSTRING(PROD.CLASPROD,1,2), --CLASSE1
         SUBSTRING(PROD.CLASPROD,1,5), --CLASSE2
         SUBSTRING(PROD.CLASPROD,1,8), --CLASSE3
         CONVERT(DATETIME,CONVERT(CHAR,NE.DTCHEG,103),103) 
COMMIT

--=================================================================================================
BEGIN TRANSACTION
INSERT INTO NIVEL9_COMERCIAL SELECT NIVEL9, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,NIVEL6,NIVEL7,NIVEL8,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL10_COMERCIAL
                      GROUP BY NIVEL9, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,NIVEL6,NIVEL7,NIVEL8,DATA ;
COMMIT



BEGIN TRANSACTION
INSERT INTO NIVEL8_COMERCIAL SELECT NIVEL8, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,NIVEL6,NIVEL7,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL9_COMERCIAL
                      GROUP BY NIVEL8, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,NIVEL6,NIVEL7,DATA ;
COMMIT


BEGIN TRANSACTION
INSERT INTO NIVEL7_COMERCIAL SELECT NIVEL7, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,NIVEL6,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL8_COMERCIAL
                      GROUP BY NIVEL7, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,NIVEL6,DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL6_COMERCIAL SELECT NIVEL6, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL7_COMERCIAL
                      GROUP BY NIVEL6, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL5_COMERCIAL SELECT NIVEL5, NIVEL1, NIVEL2, NIVEL3,NIVEL4,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL6_COMERCIAL
                      GROUP BY NIVEL5, NIVEL1, NIVEL2, NIVEL3, NIVEL4, DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL4_COMERCIAL SELECT NIVEL4, NIVEL1, NIVEL2, NIVEL3,DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL5_COMERCIAL
                      GROUP BY NIVEL4, NIVEL1, NIVEL2, NIVEL3, DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL3_COMERCIAL SELECT NIVEL3, NIVEL1, NIVEL2, DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL4_COMERCIAL
                      GROUP BY NIVEL3, NIVEL1, NIVEL2, DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL2_COMERCIAL SELECT NIVEL2, NIVEL1, DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL3_COMERCIAL
                      GROUP BY NIVEL2, NIVEL1, DATA ;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL1_COMERCIAL SELECT NIVEL1, DATA , SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 ), SUM( ATR7 ), SUM( ATR8 )
                      FROM NIVEL2_COMERCIAL
                      GROUP BY NIVEL1, DATA ;
COMMIT
--=======================================================================================================

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL1_COMERCIAL (NIVEL1, DESCRICAO) SELECT DISTINCT NIVEL1, SUBSTRING(NIVEL1,7,2)+'/'+SUBSTRING(NIVEL1,5,2)+'/'+SUBSTRING(NIVEL1,1,4)
                          FROM NIVEL1_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL1 FROM TAB_NIVEL1_COMERCIAL WHERE
                          TAB_NIVEL1_COMERCIAL.NIVEL1=NIVEL1_COMERCIAL.NIVEL1)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL2_COMERCIAL (NIVEL2, DESCRICAO) SELECT DISTINCT NIVEL2, 'FILIAL ' + NIVEL2
                          FROM NIVEL2_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL2 FROM TAB_NIVEL2_COMERCIAL WHERE
                          TAB_NIVEL2_COMERCIAL.NIVEL2=NIVEL2_COMERCIAL.NIVEL2)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL3_COMERCIAL (NIVEL3, DESCRICAO) SELECT DISTINCT NIVEL3, 'VENDEDOR ' + NIVEL3
                          FROM NIVEL3_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL3 FROM TAB_NIVEL3_COMERCIAL WHERE
                          TAB_NIVEL3_COMERCIAL.NIVEL3=NIVEL3_COMERCIAL.NIVEL3)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL4_COMERCIAL (NIVEL4, DESCRICAO) SELECT DISTINCT NIVEL4, 'ROTEIRO ' +NIVEL4
                          FROM NIVEL4_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL4 FROM TAB_NIVEL4_COMERCIAL WHERE
                          TAB_NIVEL4_COMERCIAL.NIVEL4=NIVEL4_COMERCIAL.NIVEL4)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL5_COMERCIAL (NIVEL5, DESCRICAO) SELECT DISTINCT NIVEL5,  NIVEL5 --CIDADE
                          FROM NIVEL5_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL5 FROM TAB_NIVEL5_COMERCIAL WHERE
                          TAB_NIVEL5_COMERCIAL.NIVEL5 = NIVEL5_COMERCIAL.NIVEL5)
COMMIT


BEGIN TRANSACTION
INSERT INTO TAB_NIVEL6_COMERCIAL (NIVEL6, DESCRICAO) SELECT DISTINCT NIVEL6, 'FORNECEDOR ' + NIVEL6
                          FROM NIVEL6_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL6 FROM TAB_NIVEL6_COMERCIAL WHERE
                          TAB_NIVEL6_COMERCIAL.NIVEL6 = NIVEL6_COMERCIAL.NIVEL6)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL7_COMERCIAL (NIVEL7, DESCRICAO) SELECT DISTINCT NIVEL7, 'CLASSE N1 ' + NIVEL7
                          FROM NIVEL7_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL7 FROM TAB_NIVEL7_COMERCIAL WHERE
                          TAB_NIVEL7_COMERCIAL.NIVEL7 = NIVEL7_COMERCIAL.NIVEL7)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL8_COMERCIAL (NIVEL8, DESCRICAO) SELECT DISTINCT NIVEL8, 'CLASSE N2 ' + NIVEL8
                          FROM NIVEL8_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL8 FROM TAB_NIVEL8_COMERCIAL WHERE
                          TAB_NIVEL8_COMERCIAL.NIVEL8 = NIVEL8_COMERCIAL.NIVEL8)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL9_COMERCIAL (NIVEL9, DESCRICAO) SELECT DISTINCT NIVEL9, 'CLASSE N3 ' + NIVEL9
                          FROM NIVEL9_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL9 FROM TAB_NIVEL9_COMERCIAL WHERE
                          TAB_NIVEL9_COMERCIAL.NIVEL9 = NIVEL9_COMERCIAL.NIVEL9)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL10_COMERCIAL (NIVEL10, DESCRICAO) SELECT DISTINCT NIVEL10, 'PRODUTO ' + NIVEL10
                          FROM NIVEL10_COMERCIAL
                          WHERE NOT EXISTS (SELECT NIVEL10 FROM TAB_NIVEL10_COMERCIAL WHERE
                          TAB_NIVEL10_COMERCIAL.NIVEL10 = NIVEL10_COMERCIAL.NIVEL10)
COMMIT
--======================================================================
BEGIN TRANSACTION
UPDATE TAB_NIVEL1_COMERCIAL SET MES      = SUBSTRING ( NIVEL1,5,2) + '/' + LEFT(NIVEL1,4),
		      BIMESTRE = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '05' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '05' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '06' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '06' +  '/' + LEFT(NIVEL1,4)
			END,
		      TRIMESTRE = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '04' +  '/' + LEFT(NIVEL1,4)
			END,
		      QUADRIMESTRE  = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '03' +  '/' + LEFT(NIVEL1,4)
			END,
		      SEMESTRE  = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '02' +  '/' + LEFT(NIVEL1,4)			END,
			  ANO = LEFT(NIVEL1,4) ,
		      DIAUTIL  = CASE DATEPART(DW,CONVERT(DATETIME,NIVEL1)) 
                      WHEN '1' THEN 'N'
                      WHEN '2' THEN 'S' 
                      WHEN '3' THEN 'S' 
                      WHEN '4' THEN 'S' 
                      WHEN '5' THEN 'S' 
                      WHEN '6' THEN 'S' 
                      WHEN '7' THEN 'N' 
			END 
COMMIT

BEGIN TRANSACTION --===================FILIAL
UPDATE TAB_NIVEL2_COMERCIAL SET DESCRICAO =  UPPER(F.NOME)
           FROM TAB_NIVEL2_COMERCIAL, BDENTER.DBO.FILIALCAD F
           WHERE NIVEL2 = F.FILIAL
COMMIT

BEGIN TRANSACTION --===================VENDEDOR
UPDATE TAB_NIVEL3_COMERCIAL SET DESCRICAO =  UPPER(V.NOME), 
                      GERENTE = V.CODGER
           FROM TAB_NIVEL3_COMERCIAL, BDENTER.DBO.VENDEDOCAD V
           WHERE NIVEL3 = RIGHT('00000' + LTRIM(RTRIM( V.CODVEND )),5)
COMMIT

BEGIN TRANSACTION --===================VENDEDOR - GERENTE
UPDATE TAB_NIVEL3_COMERCIAL SET GERENTE = V.NOME
           FROM TAB_NIVEL3_COMERCIAL, BDENTER.DBO.VENDEDOCAD V
           WHERE GERENTE =  V.CODVEND
COMMIT

BEGIN TRANSACTION --===================ROTEIRO
UPDATE TAB_NIVEL4_COMERCIAL SET DESCRICAO =  UPPER(F.CODROTE) +' - '+UPPER(F.DESCROT)
           FROM TAB_NIVEL4_COMERCIAL, BDENTER.DBO.TABROTECAD F
           WHERE NIVEL4 = RIGHT('00000' + LTRIM(RTRIM( F.CODROTE)),5)
COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL4_COMERCIAL SET DESCRICAO =  UPPER('SEM ROTEIRO')
           FROM TAB_NIVEL4_COMERCIAL
           WHERE NIVEL4 = '7'
       
COMMIT
--====================================FORNECEDOR
BEGIN TRANSACTION
UPDATE TAB_NIVEL6_COMERCIAL SET DESCRICAO =  UPPER(F.NOME)
           FROM TAB_NIVEL6_COMERCIAL, BDENTER.DBO.FORNECECAD F
           WHERE NIVEL6 = RIGHT('0000000000' + LTRIM(RTRIM( F.OID )),10)
COMMIT

--=====================================CLASSE N1
BEGIN TRANSACTION
UPDATE TAB_NIVEL7_COMERCIAL SET DESCRICAO = SUBSTRING(C.CLASPROD,1,2)+' - '+ LEFT(UPPER(C.DESCR),80)
           FROM TAB_NIVEL7_COMERCIAL, BDENTER.DBO.CLASSIFCAD C 
           WHERE NIVEL7 = SUBSTRING(C.CLASPROD,1,2) 
COMMIT
--=====================================CLASSE N2
BEGIN TRANSACTION
UPDATE TAB_NIVEL8_COMERCIAL SET DESCRICAO = SUBSTRING(C.CLASPROD,1,5)+' - '+ LEFT(UPPER(C.DESCR),80)
           FROM TAB_NIVEL8_COMERCIAL, BDENTER.DBO.CLASSIFCAD C 
           WHERE NIVEL8 = SUBSTRING(C.CLASPROD,1,5) 
COMMIT

--=====================================CLASSE N3
BEGIN TRANSACTION
UPDATE TAB_NIVEL9_COMERCIAL SET DESCRICAO = SUBSTRING(C.CLASPROD,1,8)+' - '+ LEFT(UPPER(C.DESCR),80)
           FROM TAB_NIVEL8_COMERCIAL, BDENTER.DBO.CLASSIFCAD C 
           WHERE NIVEL9 = SUBSTRING(C.CLASPROD,1,8) 
COMMIT

--======================================PRODUTO
BEGIN TRANSACTION
UPDATE TAB_NIVEL10_COMERCIAL SET DESCRICAO = P.CODPRO + ' - ' + LEFT(UPPER(C.DESCRICAOLONGA),90),
							    COMPRADOR = P.COMPRADOR
           FROM TAB_NIVEL10_COMERCIAL, BDENTER.DBO.PRODUTOCAD P, BDENTER.DBO.COMPLEMENTOPRODUTO C
           WHERE NIVEL10 = RIGHT('00000' + LTRIM(RTRIM( P.CODPRO )),5) AND P.CODPRO = C.CODPRO
COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL10_COMERCIAL SET COMPRADOR = UPPER(NOME)
           FROM TAB_NIVEL10_COMERCIAL, BDENTER.DBO.COMPRADCAD
           WHERE COMPRADOR = CODCOMP
COMMIT
--=====================================================
BEGIN TRANSACTION
UPDATE TAB_PARAMETROS_COMERCIAL SET ATUALIZADOEM = GETDATE()
COMMIT


END

