DROP VIEW DESCPED
GO

CREATE VIEW DESCPED AS
SELECT P.NUMPED, 
SUM(I.DESCRATE) DESCONTO
FROM BDENTER.DBO.PEDICLICAD P, 
	 BDENTER.DBO.ITEMCLICAD I
WHERE P.NUMPED = I.NUMPED
GROUP BY P.NUMPED
GO

DROP PROCEDURE CARGA_BI_TIPODOC
GO

CREATE PROCEDURE CARGA_BI_TIPODOC
AS 
BEGIN

BEGIN TRANSACTION
TRUNCATE TABLE NIVEL8_TIPO_DOC
TRUNCATE TABLE NIVEL7_TIPO_DOC
TRUNCATE TABLE NIVEL6_TIPO_DOC
TRUNCATE TABLE NIVEL5_TIPO_DOC
TRUNCATE TABLE NIVEL4_TIPO_DOC
TRUNCATE TABLE NIVEL3_TIPO_DOC
TRUNCATE TABLE NIVEL2_TIPO_DOC
TRUNCATE TABLE NIVEL1_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL8_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL7_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL6_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL5_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL4_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL3_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL2_TIPO_DOC
TRUNCATE TABLE TAB_NIVEL1_TIPO_DOC
COMMIT

/* --- ORÇAMENTOS  */
BEGIN TRANSACTION
INSERT INTO NIVEL8_TIPO_DOC
SELECT   PED.NUMPED,
         --SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,1,2),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         RIGHT('0000000000' + LTRIM(RTRIM( PED.RFORMADEPAGAR )),10),
         CAST(CASE WHEN PREV.TIPODOC IN (17752,17763) THEN PREV.OIDCLIENTE
                   ELSE PREV.TIPODOC
                   END AS CHAR(10)),
         SUBSTRING(PED.CIDADCLI,1,50),
         RIGHT('0000000000' + LTRIM(RTRIM(PED.CODCLIE)),10),
         CONVERT(DATETIME,CONVERT(CHAR,PED.DTPEDIDO,103),103),
         '1',
         1, --QTD PEDIDO
         SUM(PREV.VALPREV), --VALOR PEDIDO
         SUM(PREV.VALPREV * D.DESCONTO / ( PED.VALPED + D.DESCONTO)), --VALOR DESCONTO
         0, --QTD FATURADO
         0, --VALOR FATURADO
         0  -- DESCONTO FATURADO
         
FROM  BDENTER.DBO.VENDASSCAD VEN,
	  BDENTER.DBO.PEDICLICAD PED, 
	  BDENTER.DBO.PREVCLICAD PREV, 
	  DESCPED D
	  
WHERE VEN.NUMPED > 7 
	  AND VEN.NUMPED = PED.NUMPED  
	  AND PED.NUMPED = PREV.NUMPED 
	  AND PED.NUMPED = D.NUMPED
	  AND PED.TPO LIKE ('2%')
	  -- PEGAR APENAS TPOS QUE INTEGRAM COM O FATURAMENTO
       AND PED.TPO IN (SELECT HIERARQUIANUMERO FROM BDENTER..TPO_R WHERE OID IN (SELECT RTPO FROM BDENTER..TPOINTERFERENCIA WHERE RTPOINTEGRACAO=16100 AND VALOR='S') AND HIERARQUIANUMERO LIKE'2%')
	   AND PED.TPO <>'20104'
	   
GROUP BY PED.NUMPED,
         --SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,1,2),
         SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103),4,2) + SUBSTRING(CONVERT(VARCHAR,VEN.DTVEN,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         RIGHT('0000000000' + LTRIM(RTRIM( PED.RFORMADEPAGAR )),10),
         CAST(CASE WHEN PREV.TIPODOC IN (17752,17763) THEN PREV.OIDCLIENTE
                   ELSE PREV.TIPODOC
                   END AS CHAR(10)),
         SUBSTRING(PED.CIDADCLI,1,50),
         RIGHT('0000000000' + LTRIM(RTRIM(PED.CODCLIE)),10),
         CONVERT(DATETIME,CONVERT(CHAR,PED.DTPEDIDO,103),103)
COMMIT
--=======================================================================================================================
/* --- ORÇAMENTOS FATURADOS */
BEGIN TRANSACTION
INSERT INTO NIVEL8_TIPO_DOC
SELECT   PED.NUMPED,
         SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         RIGHT('0000000000' + LTRIM(RTRIM( PED.RFORMADEPAGAR )),10),
         CAST(CASE WHEN PREV.TIPODOC IN (17752,17763) THEN PREV.OIDCLIENTE
                   ELSE PREV.TIPODOC
                   END AS CHAR(10)),
         SUBSTRING(PED.CIDADCLI,1,50),
         RIGHT('0000000000' + LTRIM(RTRIM(PED.CODCLIE)),10),
         CONVERT(DATETIME,CONVERT(CHAR,PED.DTPEDIDO,103),103),
         --PED.NUMPED,
         '2',
         0, --DTD ORCADO
         0, --VALOR ORCADO
         0, --DESCONTO ORCAMENTO
         1, --QTD_VENDA
         SUM(PREV.VALPREV), --VALOR FATURADO
         SUM(PREV.VALPREV * D.DESCONTO / ( PED.VALPED + D.DESCONTO)) --DESCONTO FATURADO
         
FROM  BDENTER.DBO.PEDICLICAD PED, 
	  BDENTER.DBO.PREVCLICAD PREV, 
	  DESCPED D
	  
WHERE PED.NUMPED = PREV.NUMPED 
	 AND PED.TPO LIKE ('2%')
	 AND PED.SITVEN = '2' 
	 AND PED.NUMPED = D.NUMPED
	  -- PEGAR APENAS TPOS QUE INTEGRAM COM O FATURAMENTO
     AND PED.TPO IN (SELECT HIERARQUIANUMERO FROM BDENTER..TPO_R WHERE OID IN (SELECT RTPO FROM BDENTER..TPOINTERFERENCIA WHERE RTPOINTEGRACAO=16100 AND VALOR='S') AND HIERARQUIANUMERO LIKE'2%')
	 AND PED.TPO <>'20104'
	 
GROUP BY PED.NUMPED,
         SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,7,4) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103),4,2) + SUBSTRING(CONVERT(VARCHAR,PED.DTPEDIDO,103) ,1,2),
         PED.FILIAL,
         RIGHT('00000' + LTRIM(RTRIM( PED.CODVEND )),5),
         RIGHT('0000000000' + LTRIM(RTRIM( PED.RFORMADEPAGAR )),10),
         CAST(CASE WHEN PREV.TIPODOC IN (17752,17763) THEN PREV.OIDCLIENTE
                   ELSE PREV.TIPODOC
                   END AS CHAR(10)),
         SUBSTRING(PED.CIDADCLI,1,50),
         RIGHT('0000000000' + LTRIM(RTRIM(PED.CODCLIE)),10),
         CONVERT(DATETIME,CONVERT(CHAR,PED.DTPEDIDO,103),103) 
COMMIT
--=======================================================================================================================


BEGIN TRANSACTION
INSERT INTO NIVEL7_TIPO_DOC SELECT NIVEL7, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,NIVEL6,DATA,SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL8_TIPO_DOC
                      GROUP BY NIVEL7, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,NIVEL6,DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL6_TIPO_DOC SELECT NIVEL6, NIVEL1, NIVEL2, NIVEL3,NIVEL4,NIVEL5,DATA, SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL7_TIPO_DOC
                      GROUP BY NIVEL6, NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5,DATA
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL5_TIPO_DOC SELECT NIVEL5, NIVEL1, NIVEL2, NIVEL3,NIVEL4,DATA,  SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL6_TIPO_DOC
                      GROUP BY NIVEL5, NIVEL1, NIVEL2, NIVEL3, NIVEL4, DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL4_TIPO_DOC SELECT NIVEL4, NIVEL1, NIVEL2, NIVEL3,DATA,  SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL5_TIPO_DOC
                      GROUP BY NIVEL4, NIVEL1, NIVEL2, NIVEL3, DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL3_TIPO_DOC SELECT NIVEL3, NIVEL1, NIVEL2, DATA,   SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL4_TIPO_DOC
                      GROUP BY NIVEL3, NIVEL1, NIVEL2, DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL2_TIPO_DOC SELECT NIVEL2, NIVEL1, DATA,   SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL3_TIPO_DOC
                      GROUP BY NIVEL2, NIVEL1, DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO NIVEL1_TIPO_DOC SELECT NIVEL1, DATA,   SUM( ATR1 ),
                          SUM( ATR2 ), SUM( ATR3 ), SUM( ATR4 ), SUM( ATR5 ), SUM( ATR6 )
                      FROM NIVEL2_TIPO_DOC
                      GROUP BY NIVEL1, DATA;
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL1_TIPO_DOC (NIVEL1, DESCRICAO) SELECT DISTINCT NIVEL1, SUBSTRING(NIVEL1,7,2)+'/'+SUBSTRING(NIVEL1,5,2)+'/'+SUBSTRING(NIVEL1,1,4) 
                          FROM NIVEL1_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL1 FROM TAB_NIVEL1_TIPO_DOC WHERE
                          TAB_NIVEL1_TIPO_DOC.NIVEL1=NIVEL1_TIPO_DOC.NIVEL1)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL2_TIPO_DOC (NIVEL2, DESCRICAO) SELECT DISTINCT NIVEL2, 'FILIAL ' + NIVEL2
                          FROM NIVEL2_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL2 FROM TAB_NIVEL2_TIPO_DOC WHERE
                          TAB_NIVEL2_TIPO_DOC.NIVEL2=NIVEL2_TIPO_DOC.NIVEL2)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL3_TIPO_DOC (NIVEL3, DESCRICAO) SELECT DISTINCT NIVEL3, 'VENDEDOR ' + NIVEL3
                          FROM NIVEL3_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL3 FROM TAB_NIVEL3_TIPO_DOC WHERE
                          TAB_NIVEL3_TIPO_DOC.NIVEL3=NIVEL3_TIPO_DOC.NIVEL3)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL4_TIPO_DOC (NIVEL4, DESCRICAO) SELECT DISTINCT NIVEL4, 'COND PAG ' + NIVEL4
                          FROM NIVEL4_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL4 FROM TAB_NIVEL4_TIPO_DOC WHERE
                          TAB_NIVEL4_TIPO_DOC.NIVEL4=NIVEL4_TIPO_DOC.NIVEL4)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL5_TIPO_DOC (NIVEL5, DESCRICAO) SELECT DISTINCT NIVEL5, 'DOCUMENTO ' + NIVEL5
                          FROM NIVEL5_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL5 FROM TAB_NIVEL5_TIPO_DOC WHERE
                          TAB_NIVEL5_TIPO_DOC.NIVEL5 = NIVEL5_TIPO_DOC.NIVEL5)
COMMIT


BEGIN TRANSACTION
INSERT INTO TAB_NIVEL6_TIPO_DOC (NIVEL6, DESCRICAO) SELECT DISTINCT NIVEL6, NIVEL6
                          FROM NIVEL6_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL6 FROM TAB_NIVEL6_TIPO_DOC WHERE
                          TAB_NIVEL6_TIPO_DOC.NIVEL6 = NIVEL6_TIPO_DOC.NIVEL6)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL7_TIPO_DOC (NIVEL7, DESCRICAO) SELECT DISTINCT NIVEL7, 'CLIENTE' +  NIVEL7
                          FROM NIVEL7_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL7 FROM TAB_NIVEL7_TIPO_DOC WHERE
                          TAB_NIVEL7_TIPO_DOC.NIVEL7 = NIVEL7_TIPO_DOC.NIVEL7)
COMMIT

BEGIN TRANSACTION
INSERT INTO TAB_NIVEL8_TIPO_DOC (NIVEL8, DESCRICAO) SELECT DISTINCT NIVEL8,  NIVEL8
                          FROM NIVEL8_TIPO_DOC
                          WHERE NOT EXISTS (SELECT NIVEL8 FROM TAB_NIVEL8_TIPO_DOC WHERE
                          TAB_NIVEL8_TIPO_DOC.NIVEL8 = NIVEL8_TIPO_DOC.NIVEL8)
COMMIT


BEGIN TRANSACTION
UPDATE TAB_NIVEL1_TIPO_DOC SET MES      = SUBSTRING ( NIVEL1,5,2) + '/' + LEFT(NIVEL1,4),
		      BIMESTRE = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '05' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '05' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '06' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '06' +  '/' + LEFT(NIVEL1,4)
			END,
		      TRIMESTRE = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '04' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '04' +  '/' + LEFT(NIVEL1,4)
			END,
		      QUADRIMESTRE  = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '03' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '03' +  '/' + LEFT(NIVEL1,4)
			END,
		      SEMESTRE  = CASE SUBSTRING (NIVEL1, 5,2) 
                      WHEN '01' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '02' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '03' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '04' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '05' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '06' THEN '01' +  '/' + LEFT(NIVEL1,4)
                      WHEN '07' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '08' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '09' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '10' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '11' THEN '02' +  '/' + LEFT(NIVEL1,4)
                      WHEN '12' THEN '02' +  '/' + LEFT(NIVEL1,4)
			END,
			ANO = LEFT(NIVEL1,4),
		      DIAUTIL  = CASE DATEPART(DW,CONVERT(DATETIME,NIVEL1)) 
                      WHEN '1' THEN 'N'
                      WHEN '2' THEN 'S' 
                      WHEN '3' THEN 'S' 
                      WHEN '4' THEN 'S' 
                      WHEN '5' THEN 'S' 
                      WHEN '6' THEN 'S' 
                      WHEN '7' THEN 'N' 
			END
COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL2_TIPO_DOC SET DESCRICAO =  UPPER(NOME)
           FROM TAB_NIVEL2_TIPO_DOC, BDENTER.DBO.FILIALCAD
           WHERE NIVEL2 = FILIAL
COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL3_TIPO_DOC SET DESCRICAO =  UPPER(V.NOME), 
                      GERENTE = V.CODGER
           FROM TAB_NIVEL3_TIPO_DOC, BDENTER.DBO.VENDEDOCAD V
           WHERE NIVEL3 = RIGHT('00000' + LTRIM(RTRIM( V.CODVEND )),5)

COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL3_TIPO_DOC SET GERENTE = V.NOME
           FROM TAB_NIVEL3_TIPO_DOC, BDENTER.DBO.VENDEDOCAD V
           WHERE GERENTE =  V.CODVEND
COMMIT

BEGIN TRANSACTION


UPDATE TAB_NIVEL4_TIPO_DOC SET DESCRICAO =  UPPER(F.NOME)
           FROM TAB_NIVEL4_TIPO_DOC, BDENTER.DBO.ITEM F
           WHERE NIVEL4 = RIGHT('0000000000' + LTRIM(RTRIM( F.OID )),10)

COMMIT

BEGIN TRANSACTION
UPDATE TAB_NIVEL5_TIPO_DOC SET DESCRICAO =  UPPER(F.NOME)
           FROM TAB_NIVEL5_TIPO_DOC, BDENTER.DBO.ITEM F
           WHERE NIVEL5 = F.OID
COMMIT


BEGIN TRANSACTION
UPDATE TAB_NIVEL7_TIPO_DOC SET DESCRICAO =  LEFT(UPPER(NOME),100)
           FROM TAB_NIVEL7_TIPO_DOC, BDENTER.DBO.ITEM
           WHERE NIVEL7 = RIGHT('0000000000' + LTRIM(RTRIM( OID )),10)
COMMIT

BEGIN TRANSACTION
UPDATE TAB_PARAMETROS_TIPO_DOC SET ATUALIZADOEM = GETDATE();
COMMIT

END

